<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <h3>AR Wedding Events</h3>
                <p class="fst-italic mt-4">"Your perfect day, Our prefect Plan."</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <h5>Navigation</h5>
                <ul class="list-unstyled  mt-3" style="font-size: 15px;">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Services</li>
                    <li>Products</li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <h5>Our Services</h5>
                <ul class="list-unstyled  mt-3" style="font-size: 15px;">
                    <li>Venue selection</li>
                    <li>Catering</li>
                    <li>Stage Decoration</li>
                    <li>Photography</li>
                </ul>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col social-icons" style="font-size: 25px;">
                <a href="#" class="text-light me-3 icon fb"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="text-light me-3 icon whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#" class="text-light me-3 icon x"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="text-light me-3 icon insta"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <p class="mb-0">&copy; 2024 AR Events. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>