{% extends 'layouts/main.html' %}
{% block landing %}
<section id="landing-page" class="hero-session mt-100 container-fluid position-relative">
    <div class="hero-session-overlay position-absolute"></div>
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-white fw-semibold text-sm-stat p-3">Crafting Unforgettable Wedding</h1>
        <p class="subheading p-font-size text-white h2"> From 'Yes' to 'I Do', We're Here to Make Every Moment Magical.</p>
        <a href="#" class="btn btn-danger btn-lg m-5 px-5 py-2">Get Started</a>
    </div>  
</section>
{%endblock%}